/*

https://getbootstrap.com/docs/4.0/layout/overview/


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


*/
body {
	font-size: 1rem;
}

/* The documentation */
.documentation h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 40px;
}

.documentation li {
	margin-bottom: 10px;
}

.documentation .documentation-section {
	margin-bottom: 30px;
}

.documentation h2 {
	margin-bottom: 12px;	
}

.documentation h3 {
	text-decoration : underline;
	font-size: 1.2rem;
}

.user-is-active {
	width: 10%;
	display: inline;
}

/* The "is done" mark in shopping table page ; work with the Jquery isDone() function */
.cross-off td {
	text-decoration: line-through;
	color: #bfbfbf;
	background-color: #FFFFFF;
}

.cross-off td:before {
	color: black;
}

.shopping-infos {
    color: #000000;
    background-color: rgb(239, 225, 225);
    border-color: rgb(239, 225, 225);
    border-radius: 5px;
}

/*** pure css responsive datable ***/
.dataTable td {
	padding: 5px;
}

.dataTable td.responsive-td i {
	cursor: pointer;
}


.dataTable tr:nth-child(odd):not(.head-tr ){
	background-color: #D1C7C7 !important;
}

.dataTable tr:nth-child(even) {
	background-color: rgb(239, 225, 225) !important;
}

/* Cancel a bootstrap rule to cancel the border */
table.dataTable {
    border-collapse: collapse !important;
	border-left-width: 0;
}


/* Cancel a bootstrap rule to optimise display on small device */
div.dataTables_wrapper div.dataTables_info {
	white-space: normal;
}

/*** End pure css responsive datable ***/
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
	background-color: #999 !important;
}

/********iOS7 Toggle Switch********/
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle+label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.cmn-toggle-round-flat+label {
	padding: 2px;
	width: 75px;
	height: 30px;
	background-color: #dddddd;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat+label:before, input.cmn-toggle-round-flat+label:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat+label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat+label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 22px;
	background-color: #dddddd;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked+label {
	background-color: #007bff;
}

input.cmn-toggle-round-flat:checked+label:after {
	margin-left: 45px;
	background-color: #007bff;
}

/****************/

@media screen and ( max-width : 576px) {
	/* Cancel a bootstrap rule to optimise display on small device */
	div.dataTables_wrapper div.dataTables_filter input {
		width: 120px;
	}
}

/* The responsive table for the Products one only */
@media screen and ( max-width : 1040px) {
	.dataTable.products-table table, .dataTable.products-table thead, .dataTable.products-table tbody, .dataTable.products-table th, .dataTable.products-table tr, .dataTable.products-table td.responsive-td {
		display: block;
	}

	/* display the HTML data-responsive-field attribute content before each td */
	.dataTable.products-table td.responsive-td:before {
		content: attr(data-responsive-field);
		position: absolute;
		left: 0px;
		top: 0px;
		color: black;
		font-weight: bold;
		font-size: 0.97rem;
		width: 36%;
		height: 100%;
		text-align: left;
		padding-top: 4px;
		padding-left: 1px;
		white-space: nowrap;
		overflow: hidden;
	}
	.dataTable.products-table tr:nth-child(odd) td.responsive-td:before {
		background-color: #DDDDDD !important;
	}
	.dataTable.products-table tr:nth-child(even) td.responsive-td:before {
		background-color: #BBBBBB !important;
	}

	/* Push the td content after the before content */
	.dataTable.products-table td.responsive-td {
		position: relative;
		padding-left: 41% !important;
		/* 		min-height: 50px; */
	}
	.dataTable.products-table td.responsive-td input {
		max-width: 80%;
	}

	/* The edit and delete icons */
	.dataTable.products-table .table-icone {
		text-align: right;
	}

	/* hide the table head */
	#table.dataTable.products-table thead {
		display: none;
	}
	/*** Optimize margins and paddings on small devices ***/
	#table.dataTable.products-table .card-body.table-container {
		padding: 0;
	}
	#table.dataTable.products-table .cancel-side-margins {
		margin: 0 !important;
		margin-top: 1rem !important;
	}
	#table.dataTable.products-table .dataTables_wrapper .row:first-child {
		margin-top: 14px;
	}
}

/* The responsive table for every tables */
@media screen and ( max-width : 767px) {
	.dataTable table, .dataTable thead, .dataTable tbody, .dataTable th, .dataTable tr, .dataTable td.responsive-td {
		display: block;
	}

	/* display the HTML data-responsive-field attribute content before each td */
	.dataTable td.responsive-td:before {
		content: attr(data-responsive-field);
		position: absolute;
		left: 0px;
		top: 0px;
		color: black;
		font-weight: bold;
		font-size: 0.97rem;
		width: 40%;
		height: 100%;
		text-align: left;
		padding-top: 4px;
		padding-left: 1px;
		white-space: nowrap;
		overflow: hidden;
	}
	.dataTable tr:nth-child(odd) td.responsive-td:before {
		background-color: #DDDDDD !important;
	}
	.dataTable tr:nth-child(even) td.responsive-td:before {
		background-color: #BBBBBB !important;
	}

	/* Push the td content after the before content */
	.dataTable td.responsive-td {
		position: relative;
		padding-left: 45% !important;
		/* 		min-height: 50px; */
	}
	.dataTable td.responsive-td input {
		max-width: 80%;
	}

	/* The edit and delete icons */
	.dataTable .table-icone {
		text-align: right;
	}

	/* hide the table head */
	#table.dataTable thead {
		display: none;
	}
	/*** Optimize margins and paddings on small devices ***/
	.card-body.table-container {
		padding: 0;
	}
	.cancel-side-margins {
		margin: 0 !important;
		margin-top: 1rem !important;
	}
	.dataTables_wrapper .row:first-child {
		margin-top: 14px;
	}
}

/* Hide fields in table on small devices */
@media screen and (min-width: 0px) and (max-width: 992px) {
	.hidden-on-small {
		display: none !important;
	}
}